@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic" rel="stylesheet');

@font-face {

  font-family: 'MyGothamPro';
  font-weight: 500;
  src: url(/assets/fonts/GothamPro-Medium.ttf);
}

@font-face {

  font-family: 'MyGothamPro';
  font-weight: 800;
  src: url(/assets/fonts/GothamPro-Black.ttf);
}

@font-face {

  font-family: 'MyGothamPro';
  font-weight: 700;
  src: url(/assets/fonts/GothamPro-Bold.ttf);
}

@font-face {

  font-family: 'MyGothamPro';
  font-weight: 400;
  src: url(/assets/fonts/GothamPro.ttf);
}
