<footer>
  <div class="footer-content">
    <div class="footer-left">
      <div class="logo">
        <img src="/assets/img/logo-footer.png" alt="">
        <p>Офтальмологический комплекс в Ростове-на-Дону</p>
      </div>
      <div class="links-block">
        <a href="#">Клиники в Ростове-на-Дону</a>
        <a href="#">Филиал в Новочеркасске</a>
        <a href="#">Филиал в Таганроге</a>
        <a href="#">Аптеки</a>
        <a href="#">Леге Оптика</a>
      </div>
      <div class="nambers">
        <p>8 (863) 333-02-14</p>
        <p>8 (804) 333-02-14</p>
      </div>
      <div class="graph">
        <strong>Мы работаем</strong><br>каждый день с 9:00
      </div>
      <div class="social-menu">
        <a href="#" class="vkontakte"><i class="fa fa-vk" aria-hidden="true">         </i></a>
        <a href="#" class="google">   <i class="fab fa-facebook-f"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true">  </i></a>
      </div>
    </div>
    <div class="footer-middle">
      <div class="footer-box">
        <a href="#" class="record">Записаться на прием</a>
      </div>
      <div class="box">
        <div class="foot-left-link">
          <a href="#">О комплексе</a>
          <a href="#">Пациентам</a>
          <a href="#">Лечение зрения</a>
          <a href="#">Детское зрение</a>
        </div>
        <div class="foot-right-link">
          <a href="#">Отзывы</a>
          <a href="#">Врачи</a>
          <a href="#">Вопрос-ответ</a>
          <a href="#">Цены</a>
        </div>
      </div>
      <div class="search">
          <form action="#" method="get">
              <input type="search" placeholder="Поиск" name="q" value="">
              <button class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
      </div>
    </div>
    <div class="footer-right">
      <div class="aczia">
        <p>Акции</p> <img src="/assets/img/action-percent.png" alt="">
      </div>
      <img src="/assets/img/foot-r1.png" alt="">
      <p><span class="sale">Скидка 35%</span><br>на лазерную коррекцию<br>зрения. <strong>Только в августе!</strong></p>
      <img src="/assets/img/foot-r2.png" alt="">
      <p><span class="sale">Скидка 35%</span><br>на лазерную коррекцию<br>зрения. <strong>Только в августе!</strong></p>
    </div>
  </div>
  <div class="foot-bottom">
      <p>© 2017 Леге Артис</p>
      <a href="#">Пользовательское соглашение</a>
      <a href="#">Политика конфиденциальности</a>
      <p>Разработчик сайта - WEBELEMENT</p>
  </div>
  <div class="warning">
    <p>ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. НЕОБХОДИМА КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА.</p>
  </div>
</footer>