<header>
  <div class="top-line">
    <div class="underline">
      <div class="local">Офтальмологический<br>комплекс в Ростове-на-Дону</div>
      <nav>
        <a href="#">О комплексе</a>
        <a href="#">Пациентам</a>
        <a href="#">Медиацентр</a>
        <a href="#">Отзывы</a>
        <a href="#">Вопрос-ответ</a>
        <a href="#">Специалистам</a>
      </nav>
      <div class="bad-vision">
        <img src="/assets/img/zoom.png" alt="Версия для слабовидящих">
        <a href="#">Версия для<br>слабовидящих</a>
      </div>
      <a href="#" class="search">Поиск</a>
    </div>
  </div>

  <div class="middleline">
    <div class="content">
      <a href="/" class="logo">
        <img src="/assets/img/logo.png" alt="">
      </a>
      <div class="graph">
        <strong>Мы работаем</strong><br>каждый день с 9:00
      </div>
      <div class="geo">
        <div class="adress">
          <img src="/assets/img/geo.png" alt="Места работы">
          <a href="#">Адреса Клиник</a>
        </div>
        <a href="#" class="tur"><p>3D-ТУР</p></a>
      </div>
      <div class="numbers">
        <strong><p>8 (863) 333-02-14</p></strong>
        <strong><p>8 (804) 333-02-14</p></strong>
      </div>
      <a href="#" class="record">Записаться<br>на прием</a>
    </div>
  </div>


  <div class="bottomline">
    <nav>
      <a href="#">Диагностика</a>
      <a href="#">Лечение зрения</a>
      <a href="#">Детское зрение</a>
      <a href="#">Врачи</a>
      <a href="#">Цены</a>
      <a href="#">Акции и скидки</a>
    </nav>
  </div>



</header>
